* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family:"Poppins", sans-serif;
}
body {
    min-height: 625px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
body>div{
    background-color: #fff;
    max-width: 480px;
    
}

#player .dashboard {
    padding: 16px 16px 14px 16px;
    border-bottom: 1px solid #ebebeb;
    width: 448px;
    position: fixed;
    top:0;
    background-color: #fff;
}
#player header {
    text-align: center;
    margin-bottom: 10px;
}
#player header h4 {
    color:#ec1f55;
    font-size: 12px;
}
#player header h2 {
    color:#333;
    font-size: 20px;
}

#player .cd {
    display: flex;
    margin:0 25%;
    
}
#player .cd .cd-thumb{
    margin:auto;
    min-height: 225px;
    width: 100%;
    background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg');   
    background-size: cover;
    background-color: #333;
    border-radius: 50%;
}

#player .control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0 8px 0;
    font-size: 18px;
}
#player .control .btn-play-music {
    font-size: 24px;
    padding: 18px;
    border-radius: 50%;
    color:#fff;
    background-color: #ec1f55;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player .control .btn-play-music:hover{
    opacity: 0.95;
    cursor: pointer;;
}
#player .control .icon-play{
    display: none;
}

.active {
    color: #ec1f55;
}

#player .progress {
    width: 100%;
    height: 6px;
    background: #d3d3d3;
    -webkit-appearance: none;
    
}
#player .progress::-webkit-slider-thumb {
    cursor: pointer;
    background-color: var(#ec1f55);   
}

#player .playlist {
    padding: 12px;
    background-color: #f5f5f5;
    width: 456px;
    margin-top: 407px;
}
#player .playlist .song {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
#player .playlist .song-icon{
    background-image:url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 8px;
}
#player .playlist .song-body{
    flex-grow: 1;
    padding: 0 16px;
}
#player .playlist .song-title {
    font-size: 18px;
    color: #333;
}
#player .playlist .song-author{
    font-size: 12px;
    color: #999;
}
#player .playlist .song-more {
    color:#333;
    padding: 16px 8px;
    font-size: 18px;
}
#player .playlist .song.active{
   background-color: #ec1f55;
}
#player .playlist .song.active .song-title,
#player .playlist .song.active .song-author,
#player .playlist .song.active .song-more {
    color: #fff;
}
